<%
// path function begin
// - - - - - - - - - - - - - - - - - - - - - - - -
var absolutePath = data.domain + filename.split(data.developDir)[filename.split(data.developDir).length -1].replace('index.ejs','').replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.replace(data.domain,'').split('/').length -1]);

%><%- include(relativePath +'common/_path', {absolutePath:absolutePath, relativePath:relativePath})
%><%
//
var path = pagePath();
// - - - - - - - - - - - - - - - - - - - - - - - -
// path function end
//
//
// page info
// - - - - - - - - - - - - - - - - - - - - - - - -
var page = {
  title: 'HOME',
  desc: 'This is home',
  ogp: {
    image: '',
    type: 'website'
  },
  singleCss: [],
  singleJs: [],
  modifier: 'home'
};
%><%





  // = = = = = = = = = = = = = = = = = = = =
  //
  // html begin
  //
  // = = = = = = = = = = = = = = = = = = = =





%><%- include(path.re +'common/parts/_head', {page:page, path:path}) %>
<!-- header -->
<%- include(path.re +'common/parts/_header', {page:page, path:path}) %>

      <main class="main <% if(page.modifier) { %> main--<%= page.modifier %><% } %>" id="main">

        <style>
          .main {
            padding: 2rem;
          }
          p + p {
            margin-top: 2rem;
          }
        </style>

          <div id="app">
              <p>
                  <fav-button variation="" icon="">button</fav-button>
              </p>
              <p>
                  <fav-button variation="primary" icon="twitter">button</fav-button>
                  <fav-button variation="primary" size="small" icon="twitter">button</fav-button>
                  <fav-button variation="primary" size="medium" icon="twitter">button</fav-button>
                  <fav-button variation="primary" size="large" icon="twitter">button</fav-button>
              </p>
              <p>
                  <fav-button variation="primary" icon="facebook">primary</fav-button>
                  <fav-button variation="secondary" icon="twitter">secondary</fav-button>
                  <fav-button variation="success" icon="coffee">success</fav-button>
                  <fav-button variation="warning" icon="check">warning</fav-button>
                  <fav-button variation="danger" icon="bolt">danger</fav-button>
                  <fav-button variation="info" icon="info">info</fav-button>
              </p>
              <p>
                  <fav-button variation="primary" outline icon="facebook">primary</fav-button>
                  <fav-button variation="secondary" outline icon="twitter">secondary</fav-button>
                  <fav-button variation="success" outline icon="coffee">success</fav-button>
                  <fav-button variation="warning" outline icon="check">warning</fav-button>
                  <fav-button variation="danger" outline icon="bolt">danger</fav-button>
                  <fav-button variation="info" outline icon="info">info</fav-button>
              </p>
              <p>
                  <fav-button variation="primary" loading icon="twitter">loading</fav-button>
                  <fav-button variation="primary" disabled icon="twitter">disabled</fav-button>
                  <fav-button round>round</fav-button>
              </p>
              <p>
                  <fav-button variation="primary" full icon="twitter">full width</fav-button>
              </p>
              <p>
                  <fav-button text @click="myAlert()">plane text alert button</fav-button>
              </p>
          </div>

      </main>
<!-- footer -->
<%- include(path.re +'common/parts/_footer', {page:page, path:path}) %><%





  // = = = = = = = = = = = = = = = = = = = =
  //
  // html end
  //
  // = = = = = = = = = = = = = = = = = = = =





%>
